
.tweet-avatar{
    border-radius: 50%;
    width: 56px;
    height: 56px;
   
}

.tweets {
    width: 100%;
    color: #fff;
}

.corazon {
    align-items: center;
    display: flex;
    color: #fff;
   
}

.tweet-header{
    width: 100%;
    display: flex;
}

.tweet-autor{
    margin-right: 12px;
    padding: 0 5px;
}

.tweet-fecha{
    margin-right: 170px;;
}

.tweet-rojo {
    background: #F50D5A;
}

.tweet-naranjo {
    background: #FF865C;
}

.tweet-amarillo {
    background: #FFEA5C;
}

.tweet-verde {
    background: #00DA76;
}

.tweet-celeste {
    background: #0096CE;
}

.tweet-morado {
    background: #800FFF;
}
