.colors {
  display: flex;
  flex-direction: row;
  margin-bottom: 52px;
}

.color-select {
  width: 58px;
  height: 58px;
  margin-right: 15px;
}

.container-perfil {
  padding-top: 200px;
}

.logo-perfil {
  position: absolute;
  width: 50%;
  height: 287px;
}

.h1-perfil {
  width: 433px;
  font-family: "slkscr";
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -0.333333px;
}

.user {
  color: #f50d5a;
  font-family: "slkscr";
  font-size: 50px;
  font-style: uppercase;
}

.username-input {
  width: 425px;
  height: 67px;
  align-items: center;
  background-color: #150714;
  padding: 18px;
  color: #914d8b !important;
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 450;
  font-size: 24px;
  margin: 30px 0;
}

.select-text {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 450;
  font-size: 24px;
  line-height: 31px;
  align-items: center;
  letter-spacing: -0.333333px;
  color: #ffffff;
  margin-bottom: 27px;
}

.rojo {
  background: #f50d5a;
}

.naranjo {
  background: #ff865c;
}

.amarillo {
  background: #ffea5c;
}

.verde {
  background: #00da76;
}

.celeste {
  background: #0096ce;
}

.morado {
  background: #800fff;
}

.selected {
  border: 4px white solid;
}

.bot-continue {
  width: 425px;
  height: 67px;
  background-color: #00da76;
  border: none;
  cursor: pointer;
  font-family: "slkscr";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.333333px;
  color: #ffffff;
  margin-bottom: 86px;
}

.footer1-perfil {
  width: 425px;
  height: 23px;
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 450;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  letter-spacing: -0.333333px;
  color: #60265b;
}

.footer-rojo {
  color: #f50d5a;
}
