
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: 'Fira Code','Roboto',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2E132C;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

textarea{
  width: 400px;
  height: 120px;
  margin-top: 15px;
  border: none;
}

input{
  width: 280px;
  height: 34px;
  border-radius: 6px;
  margin-right: 6px;
  border: none;
}

.send{
  height: 38px;
  font-size: 16px;
  font-weight:600;
  border-radius:6px;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  background-color: blue;
  border: none;
  margin-top: 5px;
}

.contenedorTweet{
  display: flex;
  width: 700px;
  padding: 26px 0;
  margin: 0px auto;
  border-bottom: 0.3rem solid #60265b;
  justify-content: space-between;
}

.tweets{
width: 60%;
padding-left: 20px;
text-align: left;
}

.elementos_tweet{
  width: 160px;
  display: flex;
  margin: 0 auto;
  padding: 34px 0;
  
}

.elementos_tweet span{
  display: flex;
  width: 60px;
  margin: 0 auto;
  padding-left: 10px;
  border: 1px solid red;
  border-radius: 6px;
  cursor: pointer;
 
}

.elementos_tweet div{
  padding-top: 10px;
  margin-left: 5px; 
}

.delete{
  cursor: pointer;
  border: none;
  background-color: #2E132C;
}

.img_corazon{
  width: 20px;
  justify-content: center;
  align-items: center;
  margin-right: 12px;

}

.user-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0 ;
  margin: 0 auto;
  width: 605px;
  height: 52px;
  justify-content: space-between;
  /* background-color: #250C23; */
  padding: 0.5rem 1.5rem;
}

.user-profile p{
  height: 20px;
  left: 54px;
  top: 16px;
  margin:16px;
  font-family: 'Silkscreen';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

.user-profile button {
  width: 116px;
  height: 35px;
  margin-left: 10px;
  padding: 6px; 
  background-color: #f50d5a;
  color: #250c23;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  border-radius: 0;
  cursor: pointer;
  
  /* padding: 0.5rem; */
  
}

.back{
  display: flex;
  align-items: center;
}
 .back img{
  cursor: pointer;
    padding: 1rem 0;
 }

.user-profile-pic {
  border-radius: 50%;
  margin-right: 10px;
}
.logo_small_title{
  margin-left: 111px;
}

.main_section{
  display: flex;
  background-color: #150714;
  padding: 3rem 25%;
}

.user-avatar {
  cursor: pointer;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  margin-right: 17px;
  
}

/* login */
/* .login-btn {
  position: absolute;
  width: 425px;
  height: 58px;
  margin: 20px;
  font-size: 16px;
  font-weight:600;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  background-color: #4285F4;
  border: none;
} */

/* .h1-signIn{
font-family: 'Silkscreen';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 50px;
display: flex;
align-items: center;
letter-spacing: -0.333333px;
color: #FFFFFF;
position: absolute;
width: 433px;
height: 100px;
left: calc(50% - 433px/2 - 0.5px);
top: calc(50% - 100px/2 - 103px);
} */
/* fin login */

.logout-btn {
  margin: 20px;
  font-size: 16px;
  font-weight:600;
  border-radius:6px;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  background-color: blue;
  border: none;
}

.logout-btn p{
  /* font-family: slkscrb; */
  margin-right: 0.5rem;
font-family: 'Silkscreen';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 16px;
color: #250C23;
}

.user-profile-pic {
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.user-profile-pic-rojo {
  border: 4px #F50D5A solid;
}

.user-profile-pic-naranjo {
  border: 4px #FF865C solid;
}

.user-profile-pic-amarillo {
  border: 4px #FFEA5C solid;
}

.user-profile-pic-verde {
  border: 4px #00DA76 solid;
}

.user-profile-pic-celeste {
  border: 4px #0096CE solid;
}

.user-profile-pic-morado {
  border: 4px #800FFF solid;
}